body {
  background-color: #ffffcc;
}
h1 {
  color: red;
}

table th, td{
  border: 1px solid;
  text-align: center;
}
table{
  margin-left: auto; 
  margin-right: auto;
}


tr{
background-color: #ffff99;
}
